

body {
  height: 100%;
  padding-top:0;
}
a {
  text-decoration: none;
}
body.form-contact{
}
.form-signin {
  width: 50%;
  /* max-width: 330px; */
  padding: 15px;
  margin: auto;
}

.perfil {
  text-decoration: none;
  color: black;
  padding-left: 7px;
  padding-top: 8px;
}

.boton {
margin: auto;
box-sizing: border-box;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.navbar-container{
  background-image:url(../img/ricepaper_v3.png);
    }
