

body {
  height: 100%;
  padding-top:0;
}

body.form-contact{
}
.form-signin {
  width: 50%;
  /* max-width: 330px; */
  padding: 15px;
  margin: auto;
}
.perfil {
  text-decoration: none;
  color: black;
  padding-left: 7px;
  padding-top: 8px;
}

/
/* .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
} */
/* .form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.navbar-container{
  background-image:url(../img/ricepaper_v3.png);
    }
