
.main {
  font-family: 'Merriweather', serif;
}
p {
  margin-bottom: 1px;
}
.tabbable .nav-tabs {
   overflow-x: auto;
   overflow-y:hidden;
   flex-wrap: nowrap;
}
.perfil {
  text-decoration: none;
  color: black;
  padding-left: 7px;
  padding-top: 8px;
}
